html 
    head 
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://kit.fontawesome.com/efdf8a4608.js" crossorigin="anonymous")
        
    body 
        block header 
            include ../blocks/header
        block main 
            h1 this is the main part  
        script(src="js/main.js")