$primaryColor: #F26D7D;
$secondaryColor: #F3AB24;
$navBorder: #ebebeb;
$textColor-nav: #3F3F3F;
$textColor-white: #FFFFFF;
$textColor-gray: #a1a1a1;
$textColor-black: #000000;
$textColor-price: #ed1c24;
$textColor-darkRed: #e51414;
$textColor-blue: #16438c;
$textColor-lightBlue: #007dc5;
$categoryColor: #8adcfb;
$cat-btn-color: #1887f0;
$fs-sm: 12px;
$fs-md: 14px;
$fs-l: 18px;