

header 
    .container 
        .container-left
            .catalog.row
                .catalog__icon.header__icon
                    img(src="https://bizweb.dktcdn.net/100/385/257/themes/762382/assets/open-menu.svg?1642128607985" alt="categories")
                .catalog__text
                    span DANH MỤC
        .container-right
            .header__logo
                a 
                    img(class="display-none" src="https://bizweb.dktcdn.net/100/385/257/themes/762382/assets/logo.png?1642128607985" alt="logo")
                    img(id="nav-btn" src="https://bizweb.dktcdn.net/100/385/257/themes/762382/assets/open-menu.svg?1642128607985" alt="categories")
            .header__search
                form.header__form.row 
                    input(class="header__input" placeholder="tìm kiếm...")
                    button.header__btn
                        img(class="header__icon" src="https://bizweb.dktcdn.net/100/385/257/themes/762382/assets/search.svg?1642128607985" alt="search-icon")
            .header__right.row
                .consultation.column
                    span Tư vấn trực tuyến
                    span.contact-num 1900 6750
                .login.row
                    .login__icon.header__icon
                        img(src="https://bizweb.dktcdn.net/100/385/257/themes/762382/assets/user-icon.svg?1642128607985" alt="login-icon")
                    .login__account.column
                        a(href="")
                            span Đăng nhập 
                        a(href="")
                            span Tài khoản 
                .cart
                    a(href="").row
                        span Giỏ hàng
                        img(class="header__icon" src="https://bizweb.dktcdn.net/100/385/257/themes/762382/assets/shopping-cart.svg?1642128607985" alt="cart-icon")

                    