

footer {
    width: 100%;
    background-color: $textColor-white;
    padding: 10px;

    .footer__top {
        @include flexBox();
    }

    .criteria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-right: 1px solid $navBorder;

        @include respond-to("smallphone-and-down") {
            grid-template-columns: repeat(1, 1fr);
            border: none;
            grid-gap: 12px;
        }
    }

    .criterion {
        @include flexBox(flex-start, center);

        &__img {
            width: 35px;
            height: 35px;
        }

        p {
            margin-left: 8px;
            font-size: $fs-sm;
            font-weight: bold;
        }
    }

    .support {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__img {
            width: 35px;
            height: 35px;
        }

        &__wrapper {
            @include flexBox(center, center);
        }

        &__icon {
            margin-right: 10px;
        }

        p {
            margin-bottom: 0;
            font-weight: bold;
        }

        h2 {
            margin-top: 0;
            color: $textColor-price;
        }

        @include respond-to("smallphone-and-down") {
            display: none;
        }
    }

    .footer__bottom {
        border-top: 1px solid $navBorder;
        margin-top: 20px;
        padding-top: 20px;

        @include respond-to("smallphone-and-down") {
            flex-direction: column;
            padding: 20px;
        }


        div {
            @include respond-to("smallphone-and-down") {
                margin-bottom: 12px;
            }
        }

        ul {
            padding-left: 10px;
        }

        .nav__link {
            margin-bottom: 6px;
            
            a {
                font-size: $fs-md;
                color: $textColor-lightBlue;
                position: relative;

                &::before {
                    content: '.';
                    position: absolute;
                    font-size: 30px;
                    left: -12px;
                    top: -12px;
                }
            }
        }

        .footer__logo {
            margin-bottom: 10px;

            img {
                width: 200px;
            }
        }

        .location {
            align-items: center;

            i {
                font-size: 20px;
                margin-right: 10px;
            }

            p {
                font-size: $fs-md;
            }
        }

        .footer__nav {
            @include flexBox(center, flex-start);

            @include respond-to("smallphone-and-down") {
                justify-content: flex-start;
            }
        }

        .footer__title {
            color: $textColor-lightBlue;
            font-size: 16px;
        }

        .social__icons {
            @include flexBox(space-between, center);
            width: 180px;

            .social__icon {
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}